mqtt-kafka-json.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description>Template for Big Data Spain demo</description>
  <groupId>a64a5bfb-015f-1000-e626-6d9fc78317e7</groupId>
  <name>mqtt-kafka-json</name>
  <snippet>
    <connections>
      <id>9596d154-cbbe-3c75-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>91d842a0-9f17-3b35-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>unmatched</selectedRelationships>
      <source>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>2d49d49d-d970-300b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>9a01553a-01be-3849-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>96b964f6-4998-35c9-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>Message</selectedRelationships>
      <source>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>6e2c3f2f-e192-3d9a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d7748ef4-71eb-3374-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>b7b8e6bb-13fe-34ae-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>96b964f6-4998-35c9-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f2b7fa2c-0a25-3ee9-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>5503eb2c-cb61-36ab-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>91d842a0-9f17-3b35-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0981672d-ecb5-3de4-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>2d49d49d-d970-300b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>96b964f6-4998-35c9-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>12789a46-6625-3a45-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>756.6881210374127</x>
        <y>389.8863105773926</y>
      </bends>
      <destination>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>399e76bc-5466-3b60-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>unmatched</selectedRelationships>
      <source>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>96b964f6-4998-35c9-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>1ff40ae0-fcfe-322b-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>0f2e2121-beeb-3ec1-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>1ea05cff-7d81-3188-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7fa602a7-028a-3729-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>1ea05cff-7d81-3188-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>type</selectedRelationships>
      <source>
        <groupId>a0c08223-a2fe-3fbb-0000-000000000000</groupId>
        <id>2d49d49d-d970-300b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processors>
      <id>91d842a0-9f17-3b35-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <position>
        <x>1146.7801010178814</x>
        <y>2.166576385498047</y>
      </position>
      <bundle>
        <artifact>nifi-kafka-0-11-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>bootstrap.servers</key>
            <value>
              <name>bootstrap.servers</name>
            </value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>
              <name>security.protocol</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
            <value>
              <name>sasl.kerberos.service.name</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
            <value>
              <name>sasl.kerberos.principal</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
            <value>
              <name>sasl.kerberos.keytab</name>
            </value>
          </entry>
          <entry>
            <key>ssl.context.service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>ssl.context.service</name>
            </value>
          </entry>
          <entry>
            <key>topic</key>
            <value>
              <name>topic</name>
            </value>
          </entry>
          <entry>
            <key>acks</key>
            <value>
              <name>acks</name>
            </value>
          </entry>
          <entry>
            <key>use-transactions</key>
            <value>
              <name>use-transactions</name>
            </value>
          </entry>
          <entry>
            <key>attribute-name-regex</key>
            <value>
              <name>attribute-name-regex</name>
            </value>
          </entry>
          <entry>
            <key>message-header-encoding</key>
            <value>
              <name>message-header-encoding</name>
            </value>
          </entry>
          <entry>
            <key>kafka-key</key>
            <value>
              <name>kafka-key</name>
            </value>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>
              <name>key-attribute-encoding</name>
            </value>
          </entry>
          <entry>
            <key>message-demarcator</key>
            <value>
              <name>message-demarcator</name>
            </value>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>
              <name>max.request.size</name>
            </value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>
              <name>ack.wait.time</name>
            </value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>
              <name>max.block.ms</name>
            </value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>
              <name>partitioner.class</name>
            </value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>
              <name>compression.type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>bootstrap.servers</key>
            <value>kafka:9092</value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>PLAINTEXT</value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
          </entry>
          <entry>
            <key>ssl.context.service</key>
          </entry>
          <entry>
            <key>topic</key>
            <value>data</value>
          </entry>
          <entry>
            <key>acks</key>
            <value>0</value>
          </entry>
          <entry>
            <key>use-transactions</key>
            <value>false</value>
          </entry>
          <entry>
            <key>attribute-name-regex</key>
          </entry>
          <entry>
            <key>message-header-encoding</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>kafka-key</key>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>utf-8</value>
          </entry>
          <entry>
            <key>message-demarcator</key>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>5 sec</value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>none</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PublishData</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#00c421</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_11</type>
    </processors>
    <processors>
      <id>96b964f6-4998-35c9-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <position>
        <x>580.1233627366315</x>
        <y>219.40412139892578</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>
              <name>Path Not Found Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
          <entry>
            <key>routing.value</key>
            <value>
              <name>routing.value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>auto-detect</value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>warn</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
          <entry>
            <key>routing.value</key>
            <value>$.status</value>
          </entry>
        </properties>
        <runDurationMillis>500</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>EvaluateJsonPath</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <state>RUNNING</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#23138a</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
    </processors>
    <processors>
      <id>b7b8e6bb-13fe-34ae-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <position>
        <x>581.205271916319</x>
        <y>0.9745864868164062</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>counter-name</key>
            <value>
              <name>counter-name</name>
            </value>
          </entry>
          <entry>
            <key>delta</key>
            <value>
              <name>delta</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>counter-name</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>delta</key>
            <value>1</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateCounter</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.UpdateCounter</type>
    </processors>
    <processors>
      <id>0f2e2121-beeb-3ec1-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <position>
        <x>1737.1272689866314</x>
        <y>445.40726470947266</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>counter-name</key>
            <value>
              <name>counter-name</name>
            </value>
          </entry>
          <entry>
            <key>delta</key>
            <value>
              <name>delta</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>counter-name</key>
            <value>alarms</value>
          </entry>
          <entry>
            <key>delta</key>
            <value>1</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateCounter</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.UpdateCounter</type>
    </processors>
    <processors>
      <id>1ea05cff-7d81-3188-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <position>
        <x>1147.7798568772564</x>
        <y>442.2366714477539</y>
      </position>
      <bundle>
        <artifact>nifi-kafka-0-11-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>bootstrap.servers</key>
            <value>
              <name>bootstrap.servers</name>
            </value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>
              <name>security.protocol</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
            <value>
              <name>sasl.kerberos.service.name</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
            <value>
              <name>sasl.kerberos.principal</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
            <value>
              <name>sasl.kerberos.keytab</name>
            </value>
          </entry>
          <entry>
            <key>ssl.context.service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>ssl.context.service</name>
            </value>
          </entry>
          <entry>
            <key>topic</key>
            <value>
              <name>topic</name>
            </value>
          </entry>
          <entry>
            <key>acks</key>
            <value>
              <name>acks</name>
            </value>
          </entry>
          <entry>
            <key>use-transactions</key>
            <value>
              <name>use-transactions</name>
            </value>
          </entry>
          <entry>
            <key>attribute-name-regex</key>
            <value>
              <name>attribute-name-regex</name>
            </value>
          </entry>
          <entry>
            <key>message-header-encoding</key>
            <value>
              <name>message-header-encoding</name>
            </value>
          </entry>
          <entry>
            <key>kafka-key</key>
            <value>
              <name>kafka-key</name>
            </value>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>
              <name>key-attribute-encoding</name>
            </value>
          </entry>
          <entry>
            <key>message-demarcator</key>
            <value>
              <name>message-demarcator</name>
            </value>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>
              <name>max.request.size</name>
            </value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>
              <name>ack.wait.time</name>
            </value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>
              <name>max.block.ms</name>
            </value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>
              <name>partitioner.class</name>
            </value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>
              <name>compression.type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>bootstrap.servers</key>
            <value>kafka:9092</value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>PLAINTEXT</value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
          </entry>
          <entry>
            <key>ssl.context.service</key>
          </entry>
          <entry>
            <key>topic</key>
            <value>alarms</value>
          </entry>
          <entry>
            <key>acks</key>
            <value>0</value>
          </entry>
          <entry>
            <key>use-transactions</key>
            <value>false</value>
          </entry>
          <entry>
            <key>attribute-name-regex</key>
          </entry>
          <entry>
            <key>message-header-encoding</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>kafka-key</key>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>utf-8</value>
          </entry>
          <entry>
            <key>message-demarcator</key>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>5 sec</value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>none</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PublishAlarms</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#940000</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_11</type>
    </processors>
    <processors>
      <id>2d49d49d-d970-300b-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <position>
        <x>1145.447418028411</x>
        <y>221.38282233926975</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>type</key>
            <value>
              <name>type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to Property name</value>
          </entry>
          <entry>
            <key>type</key>
            <value>${routing.value:equalsIgnoreCase("critical")}</value>
          </entry>
        </properties>
        <runDurationMillis>500</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>RouteOnAlarm</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>type</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <state>RUNNING</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#23138a</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>399e76bc-5466-3b60-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <position>
        <x>581.151316838194</x>
        <y>443.4335708618164</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>counter-name</key>
            <value>
              <name>counter-name</name>
            </value>
          </entry>
          <entry>
            <key>delta</key>
            <value>
              <name>delta</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>counter-name</key>
            <value>unmatch</value>
          </entry>
          <entry>
            <key>delta</key>
            <value>1</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateCounter</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.UpdateCounter</type>
    </processors>
    <processors>
      <id>5503eb2c-cb61-36ab-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <position>
        <x>1726.5027572678814</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>counter-name</key>
            <value>
              <name>counter-name</name>
            </value>
          </entry>
          <entry>
            <key>delta</key>
            <value>
              <name>delta</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>counter-name</key>
            <value>alarms</value>
          </entry>
          <entry>
            <key>delta</key>
            <value>1</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateCounter</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.UpdateCounter</type>
    </processors>
    <processors>
      <id>6e2c3f2f-e192-3d9a-0000-000000000000</id>
      <parentGroupId>a0c08223-a2fe-3fbb-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>223.9842383380451</y>
      </position>
      <bundle>
        <artifact>nifi-mqtt-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Broker URI</key>
            <value>
              <name>Broker URI</name>
            </value>
          </entry>
          <entry>
            <key>Client ID</key>
            <value>
              <name>Client ID</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Last Will Topic</key>
            <value>
              <name>Last Will Topic</name>
            </value>
          </entry>
          <entry>
            <key>Last Will Message</key>
            <value>
              <name>Last Will Message</name>
            </value>
          </entry>
          <entry>
            <key>Last Will Retain</key>
            <value>
              <name>Last Will Retain</name>
            </value>
          </entry>
          <entry>
            <key>Last Will QoS Level</key>
            <value>
              <name>Last Will QoS Level</name>
            </value>
          </entry>
          <entry>
            <key>Session state</key>
            <value>
              <name>Session state</name>
            </value>
          </entry>
          <entry>
            <key>MQTT Specification Version</key>
            <value>
              <name>MQTT Specification Version</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout (seconds)</key>
            <value>
              <name>Connection Timeout (seconds)</name>
            </value>
          </entry>
          <entry>
            <key>Keep Alive Interval (seconds)</key>
            <value>
              <name>Keep Alive Interval (seconds)</name>
            </value>
          </entry>
          <entry>
            <key>Topic Filter</key>
            <value>
              <name>Topic Filter</name>
            </value>
          </entry>
          <entry>
            <key>Quality of Service(QoS)</key>
            <value>
              <name>Quality of Service(QoS)</name>
            </value>
          </entry>
          <entry>
            <key>Max Queue Size</key>
            <value>
              <name>Max Queue Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Broker URI</key>
            <value>tcp://mosquitto:1883</value>
          </entry>
          <entry>
            <key>Client ID</key>
            <value>test</value>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Last Will Topic</key>
          </entry>
          <entry>
            <key>Last Will Message</key>
          </entry>
          <entry>
            <key>Last Will Retain</key>
          </entry>
          <entry>
            <key>Last Will QoS Level</key>
          </entry>
          <entry>
            <key>Session state</key>
            <value>true</value>
          </entry>
          <entry>
            <key>MQTT Specification Version</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Connection Timeout (seconds)</key>
            <value>30</value>
          </entry>
          <entry>
            <key>Keep Alive Interval (seconds)</key>
            <value>60</value>
          </entry>
          <entry>
            <key>Topic Filter</key>
            <value>#</value>
          </entry>
          <entry>
            <key>Quality of Service(QoS)</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Max Queue Size</key>
            <value>1000</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConsumeMQTT</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Message</name>
      </relationships>
      <state>RUNNING</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#23138a</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
    </processors>
  </snippet>
  <timestamp>11/10/2017 14:33:05 GMT</timestamp>
</template>